html,
body {
  height: 100%;
}

.borde {
  margin: 0 40px;
  background: rgba(255,255,255,0.1);
}
.o-pages {
  background-color: black;
  &__home {
     overflow: hidden;
    position: relative;
    height: 100vh;
  }
  &__base {
  }
  &__form {
    .formulario{
      min-height: 190px;
      &.salida {
        min-height: inherit;
        display: none;
      }
    }
    .despedida {
      min-height: 190px;
      margin-bottom: 100px;
    }
  }
}

#brand {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.js-mouse-follower {
  display: none;
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  background-color: black;
}
 

.blend {
  &--multiply {
    mix-blend-mode: multiply;
  }
  &--screen {
    mix-blend-mode: screen;
  }
}


form {
  display: inline-block;
  width: 100%;
  min-height: 190px;
  .quiz_section {
    span {
      display: block;
      font-family: 'Acronym-ExtraBold';
      width: 100%;
      font-size: 17px;
      color: white;
      margin-top: 20px;
    }
    input,
    textarea {
      border: 2px solid black;
      border-radius: 0;
      background: white;
      padding: 8px 10px;
      margin: 10px 0 1px;
      width: 100%;
      transition: all 0.4s ease;
      &:focus {
        outline: none;
      }
      &.error {
        border-color: #FF3434;
      }
      &[type="file"] {
        display: block;
        margin: 10px auto 20px;
        vertical-align: middle;
        line-height: 1;
        align-items: center;
      }
    }
  }
  .qmn_error input {
    border-color: red;
  }

  &.slide2,
  &.slide3,
  &.preguntas {
    display: none;
  }
}

div[class^="o-form"] {
  display: none;
  opacity: 0;
  transition: 400ms opacity ease-in;
  &.active {
    display: block;
    transition: 400ms opacity ease-out;
    opacity: 1;
  }
}

.o-control {
  text-align: center;
  margin-bottom: 100px;
  @media only screen and ( max-width: 990px ) {
    margin-bottom: 90px;
  }
  &.final,
  &.segundo,
  &.primero,
  &.subir {
    display: none;
    opacity: 0;
    transition: 400ms opacity ease-in;
    margin-top: 10px;
    @media only screen and ( max-width: 990px ) {
      margin-top: 20px;
    }
    @media only screen and ( min-width: 1500px ){
      margin-top: 40px;
    }
    &.active {
      display: block;
      opacity: 1;
      transition: 400ms opacity ease-out;
    }
    p.mensaje {
      display: none;
      margin-top: 20px;
      color: red;
      font-size: 15px;
    }
  }
  .checkbox {
    padding-left: 20px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    color: #F0E000;
    @media only screen and ( max-width: 990px ) {
      width: 100%;
    }
    a.o-link {
      color: #F0E000;
      text-decoration: none;
      &:hover,
      &:focus {
        color: #F0E000;
      }
    }
  }
  input[type="checkbox"] {
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0 -20px;
    line-height: normal;
    position: absolute;
    opacity: 0;
    + label {
      max-width: 100%;
      min-height: 20px;
      margin-bottom: 0;
      font-weight: 400;
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding-left: 5px;
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 25px;
        height: 25px;
        left: -4px;
        top: -1px;
        margin-left: -20px;
        border-radius: 50px;
        border: 2px solid #F0E000;
        background-color: transparent;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      }
      &:after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 3px;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555;
      }
    }
    &:checked + label::before {
    }
    &:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c";
      color: #F0E000;

    }
    
    
  }
  .button {
    display: block;
    text-align: center;
    button {
      color: black;
      background: #F0E000;
      border: none;
      border-radius: 0;
      display: inline-block;
      padding: 9px 28px;
      font-size: 12px;
      letter-spacing: 0.1em;
      margin-top: 40px;
      position: relative;
      text-transform: uppercase;
      transition: all 0.4s ease;
      @media only screen and ( max-width: 1500px ) {
        margin-top: 10px;
      }
      @media only screen and ( max-width: 990px ) {
        margin-top: 20px;
      }
      &:focus {
        outline: none;
      }
      &:active {
        color: #BDBB97;
      }
      &.cargando {
        padding-right: 70px;
        .loading-pulse {
          opacity: 1;
        }
      }
    }
  }
}

$base-line-height: 20px;
$white: rgb(0, 0, 0);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes pulse {
  50% {
    background: $white;
  }
}

.loading-pulse {
  position: absolute;
  opacity: 0;
  right: 14%;
  top: 20%;
  transition: .5s opacity ease;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-white;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $off-white;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}



.o-detail {
  position: relative;
  background-color: black;
  &__cover {
    height: 100vh;
    background: url('../images/background-player.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
  }
  &__overview {
    margin-top: -200px;
    height: auto;
    overflow: hidden;
    z-index: 2;
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
    background-color: rgba(#1e1e1e, 0.5);
  }
  
  &__copy {
    height: 200px;
    text-align: center;
    padding: 2em 1em 1em 1em;
    h2 {
      font-family: 'Acronym-ExtraBold';
      color: $c-yellow-base;
      font-size: 20px;
      margin: 0;
      padding-bottom: 0.5em;
    }
    p {
      color: white;
      font-family: 'Acronym-Light';
    }
    
    .o-btn-down {
      color: $c-yellow-base;
      font-size: 32px;
    }
     
    @include bp(medium-up) {
        h2 {
          font-size: 32px;
        } 
        p {
          font-size: 16px;
        }
     }
     
      @include bp(large-up) {
        h2 {
          font-size: 48px;
        } 
        p {
          font-size: 24px;
        }
     }
  }
} 