.o-wrapper {
  height: 100%;
  position: relative;
}

.o-header {
  width: 100%;
  z-index: 20;
}

.o-social {
  padding: 1em 0;
  text-align: right;
  &__item {
    display: inline-block;
    vertical-align: middle;
  }
}


strong {
  font-family: 'Acronym-Bold';
} 

.o-base,
.o-f {
  &__title {
    font-family: 'Acronym-ExtraBold';
    font-size: 40px;
    color: black;
    > small {
      font-size: 24px;
      color: #FFF100;
      padding: 5px 2px 2px;
      background: black;
      position: relative;
      margin-right: 30px;
      &:before {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        left: -18px;
        border-left: 18px solid transparent;
        border-bottom: 31px solid black;
        border-top: none;
        border-right: 0px solid transparent;
      }
      &:after {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        right: -18px;
        border-right: 18px solid transparent;
        border-top: 31px solid black;
        border-bottom: none;
        border-left: 0 solid transparent;
      }
    }
  }

  &__text {
    margin-top: 70px;
    color: black;
    text-align: left;
  }
  ul, p {
    font-family: 'Acronym-Light';
    font-size: 16px;
  }
} 

.o-fly {
  display: block;
  width: 298px;
  height: 32px;
  background: url('../images/fly.png') no-repeat;
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}

.onepage-pagination {
   li {
    a {
      transition: all 100ms ease-in;
      
      &.active {
        &:hover {
          &:before {
            border-color: #fff;
            background-color: transparent;
          } 
          }
      }
      
        
        
      
    } 
  }
} 

.o-copy {
  text-align: center;
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6em;
} 

.o-front {
  @include coverer;
  z-index: 50;
}


.o-button {
  display: inline-block;
  vertical-align: middle;
  color: white;
  background-color: $c-fb-blue-base;
  text-decoration: none;
  font-family: 'Acronym-Regular';
  transition: all 200ms ease;
  margin-top: 3em;
  &__caret,
  &__label {
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
  }  
  
  &__caret {
    background-color: $c-fb-blue-dark;
  }
  &__label {
    font-size: 12px;
    line-height: 12px;
    padding-right: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
  }
 
  &__fb-short {
    display: block;
    background: url('../images/fb-short.svg') no-repeat;
    width: 10px;
    height: 18px;
  }
  
  &__arrow {
    display: block;
    background: url('../images/arrow.svg') no-repeat center center;
    width: 10px;
    height: 18px;
  }
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $c-fb-blue-dark;
  }
  
  &--cta {
    background-color: lighten(black,15%);
     .o-button__caret {
      background-color: black;
    }
    &:hover {
      background-color:black;
    }
  }
}

.o-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  background: url('../images/pat-grass.png') repeat-x;
  &__terms {
    display: inline-block;
    vertical-align: text-bottom;
    text-decoration: none;
    color: white;
    font-family: 'Acronym-Regular';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;  
    margin-top: 2em;
    &:hover {
      text-decoration: none;
      color: $c-yellow-base;
    } 
    &:focus {
      outline: none;
      color: $c-yellow-base;      
      text-decoration: none;
    }
  }
}

.o-brand {
  display: inline-block;
  vertical-align: text-bottom;
  width: 100px;
  height: 48px;
  @include clean;
  &__logo {
    display: block;
    width: 100px;
    height: 48px;
    background: url('../images/mundomex-logo.svg') no-repeat center center;
    @include hide-text;
  }
} 


.o-p-brand {
  display: block;
  width: 200px;
  margin: 0.35em 0 0 0;
  &__logo {
    display: block;
    width: 160px;
    height: 40px;
    @include hide-text;
    background: url('../images/referee-logo.svg') no-repeat;
    background-size: contain;
  }
} 

.o-mask {
  position: absolute;
  bottom: 48px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  .modal-body {
    height: 80vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}