html,
body {
  height: 100%;
}
.o-pages {
  &__home {
     overflow: hidden;
    position: relative;
    background-color: $c-yellow-base;
  }
}

.o-artwork {
 
  &__copy {
   @include coverer;
   z-index: 30;
   background-color: #fff;
   img {
     @include vert-centerer;
     padding-top: 80%;
   }
 
  }
}
 

.blend {
  &--multiply {
    mix-blend-mode: multiply;
  }
  &--screen {
    mix-blend-mode: screen;
  }
}