.u-fixed {
  position: fixed;
}

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

.u-vert-center {
  @include vert-centerer;
  z-index: 20;
  &.no-translate{
    @include bp(320px, 700px){
      transform: none;
      top: 0;
    }
  }
} 

.u-text-center {
  text-align: center;
} 