.u-fixed {
  position: fixed;
}

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

.u-vert-center {
  @include vert-centerer;
  z-index: 20;
} 

.u-text-center {
  text-align: center;
} 